* {
    box-sizing: border-box;
}

main {
    max-width: 980px; 
    margin: auto 0;
}

body {
   margin-left: 2.5em; 
   background-color: rgb(255, 255, 255);
   color: rgb(0, 136, 247);
   font-family: 'Lato', sans-serif;
}

header {
    color: rgb(0, 0, 0);
}

h1,
h2 { 
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: rgb(0, 136, 247);
}

h2 {
    position: relative;
    animation: slideIn 2s ease-out; /* Keyframes plus bas */
}

h3 { 
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgb(0, 136, 247);
}


p { 
    color: rgb(10, 52, 87);
    font-size: 14px;
}

em { 
    font-weight: 500;
    font-size: 14px;
    color: rgb(0, 0, 0);
    
}

ul,
li,
td { 
    font-weight: 300;
    font-size: 14px;
    color: rgb(65, 65, 65);
}

.photoprofil {
    border-radius: 50%;
    border: 0.1875em solid rgb(0, 136, 247); 
    object-fit: cover; 
    width: 6.25em; 
    height: 6.25em;
    animation: fadeIn 2s ease-in-out; /* Keyframes plus bas */
  }

.sidebar { /* Rectangle bleu à gauche du CV */
    width: 1.25em;
    background-color: rgb(0, 136, 247); 
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .barrebleue { /* Trait bleu sous chaque h */
    height: 2px;
    background-color: rgb(0, 136, 247);
    width: 95%;
    margin-top: 5px;
  }

  .hardskills table {
    width: 100%; 
}

.hardskills {
    white-space: nowrap;
    padding: 5px;
}

  .timeline {
    list-style-type: none;
    position: relative;
    padding-left: 15px;
  }
  
  .timeline-point {
    position: absolute;
    left: 2px;
    background-color: rgb(0, 136, 247);
    border-radius: 50%;
    width: 8px;
    height: 8px; 
    z-index: 2;
  }
  
  .timeline-content {
    padding-left: 10px;
  }
  
  .diplomes .timeline::before,
  .experiences .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 5px;
    height: 100%;
    width: 1px;
    background-color: rgb(151, 151, 151);
    z-index: 1;
  }
  
.SuiteAdobe::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../img/adobe.png");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 5px;
}

.Figma::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../img/figma.png");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 5px;
}

.PackMicrosoftOffice::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../img/bureau.png");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 5px;
}

.WordPress::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../img/wordpress.png");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 5px;
}

.Canva::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../img/canva-png.png");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 5px;
}

a {
    color: black;
    text-decoration: underline;
}

a:visited {
    color: black;
}

a:hover {
    color: #0056b3;
    transition: color 0.3s ease-in-out;
}

a:active {
    color: black;
}

li {
    list-style-type: none;
}

.colonnes {
    display: flex;
    position:static;
    justify-content: space-between;
  }
 
.langues, 
.hardskills, 
.softskills,
.centres {
    flex: 1;
    margin-top: -30px;
    padding: 20px;
  }

  .langues,
  .centres {
    margin-left: -15px;
}

.interets-global {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.interet {
    position: relative;
    cursor: pointer;
    text-align: center;
    margin-bottom: 60px;
}

.interet img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    transition: transform 0.3s ease;
}

.interet .description {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
    white-space: normal;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px; /* Arrondir les coins */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Effet d'une ombre */
    visibility: hidden;
    transition: visibility 0s, opacity 0.3s linear;
    max-width: 250px;
    overflow: auto; /* Facilite le défilement automatique si ma description est trop longue */
}

.interet:hover .description {
    visibility: visible; /* Sans cela mes descriptions n'étaient pas visibles ????? */
    opacity: 1;
}

.interet:hover img {
    transform: scale(1.1) rotate(10deg); /* Agrandir mon image à 110% + rotation de 10° quand on passe la souris */
}

.emoji-pluie {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -5; /* Pour que les emojis passent dessous le texte et non dessus  */
    overflow: hidden;
    pointer-events: none; /* Ne pas rendre cliquable les emojis  */
}

.emoji-pluie div {
    position: absolute;
    font-size: 30px; 
    animation: rain 5s infinite linear;
    opacity: 0;
}

@keyframes rain { /* Définir une séquence d'étapes */
    0% {
        top: -10%;
        opacity: 1;
    }
    100% {
        top: 110%;
        left: random(-100%, 100%);
        opacity: 1;
    }
}

.emoji-pluie div:nth-child(1) {
    left: 25%;
    animation-delay: 0s;
}
.emoji-pluie div:nth-child(2) {
    left: 50%;
    animation-delay: 1s;
}
.emoji-pluie div:nth-child(3) {
    left: 75%;
    animation-delay: 2s;
}
  
@keyframes fadeIn { /* Animation pour faire apparaître lentement la photo + Définir une séquence d'étapes */
    from { opacity: 0; }
    to { opacity: 1; }
    
} 

@keyframes slideIn { /* Animation pour les titres apparaissent + Définir une séquence d'étapes */
    from { left: -50px; opacity: 0; }
    to { left: 0; opacity: 1; }
}